@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    background-color: rgb(7, 7, 9);
    font-family: "Roboto Flex", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#bannerContainer {
    color: white;
    background: url(./img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}
#bannerContainer h1, h2, h3{
    animation: fadeIn 1.5s;
    max-width: 80%;
}
#bannerContainer h1{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 10px;
}
#bannerContainer h2{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}
#bannerContainer h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#mainTittle {
    margin: 0;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

#mainDescription {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

    font-weight: 200;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
#mainBanner {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#registerBtn {
    font-family: "Roboto Flex", monospace;
    background-color: #9f3647;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    width: 120px;
    height: 60px;
}

#searcherContainer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input-group {
    width: 70%;
    height: 50px;
}
.input-group h1 {
    color: white;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.form-control {
    margin-right: 10px;
}

#searchButton {
    background-color: #9f3647;
    color: white;
    border-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
}
#searchButton:hover {
    background-color: #551d26;
    transition: ease-in .1s;
}

.movie {
    position: relative;
}

#moviesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 2rem;
    margin: 50px 0 50px 0;
}

#moviesGrid {
    width: 70vw;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.movie:hover img {
    filter: grayscale(90%);
    filter: brightness(20%);
    scale: .92;
    transition: ease-in .15s;
}
.movieTittle {
    opacity: 0;
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);

    color: white;
    font-size: 2rem;
}

.movie:hover .movieTittle {
    opacity: 1;
}

.mostAcclaimed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#mostAcclaimedContainer {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    flex-direction: row;
}
#mostAcclaimedContainer img {
    margin-right: 15px;
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9f3647;
    border-radius: 10px;
}


@media (min-width: 768px) {
    #bannerContainer {
        height: 90vh;
    }
    #mainTittle {
        font-size: 3rem;
    }
    
    #mainDescription {
        font-size: 2rem;
    }

    #registerBtn{
        width: 140px;
        height: 70px;
    }

    .input-group {
        width: 40%;
    }
}
